node_modules
/backend/venv/

package-lock.json
backend/meeting-assitent-doctor-*.json

.env
*.env
frontend/.env
backend/token.json
backend/.env
backend/client_secret*.json

# Python cache
__pycache__/
*.pyc