absl-py
accelerate
aenum
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
antlr4-python3-runtime
anyio
asgiref
asteroid-filterbanks
asttokens
async-timeout
attrs
audioread
auth
bcrypt
bidict
blinker
braceexpand
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
colorlog
contourpy
cryptography
cycler
Cython
cytoolz
dataclasses-json
datasets
decorator
deepgram-sdk
deprecation
dill
distro
dnspython
docopt
editdistance
einops
email-validator
eventlet
exceptiongroup
executing
falcon
fiddle
filelock
Flask
flask-cors
flask-sock
Flask-SocketIO
fonttools
frozenlist
fsspec
future
gevent
gevent-websocket
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-speech
googleapis-common-protos
graphviz
greenlet
grpcio
grpcio-status
gunicorn
h11
hf-xet
httpcore
httplib2
httpx
huggingface-hub
hydra-core
HyperPyYAML
idna
indic_numtowords
inflect
intervaltree
ipython
itsdangerous
jedi
Jinja2
jiter
jiwer
joblib
julius
kaldi-python-io
kiwisolver
lazy_loader
Levenshtein
lhotse
libcst
librosa
lightning
lightning-utilities
lilcom
llvmlite
loguru
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mediapy
ml_dtypes
mongoengine
more-itertools
motor
mpmath
msgpack
multidict
multiprocess
mypy_extensions
nemo-toolkit
networkx
num2words
numba
numpy
oauthlib
omegaconf
onnx
openai
optuna
packaging
pandas
parso
passlib
peft
pexpect
pillow
plac
platformdirs
pooch
primePy
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pyarrow
pyasn1
pyasn1_modules
pybind11
pycparser
pydantic
pydantic_core
pydub
Pygments
PyJWT
pyloudnorm
pymongo
pyparsing
python-dateutil
python-dotenv
python-engineio
python-http-client
python-socketio
pytorch-lightning
pytorch-metric-learning
pytz
PyYAML
RapidFuzz
redis
regex
requests
requests-oauthlib
resampy
rich
rsa
ruamel.yaml
ruamel.yaml.clib
sacremoses
safetensors
scikit-learn
scipy
semver
sendgrid
sentencepiece
sentry-sdk
shellingham
simple-websocket
six
smmap
sniffio
sortedcontainers
soundfile
sox
soxr
speechbrain
SQLAlchemy
stack-data
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboardX
termcolor
text-unidecode
texterrors
threadpoolctl
tokenizers
tomli
toolz
torch
torch-audiomentations
torch_pitch_shift
torchaudio
torchmetrics
torchvision
tqdm
traitlets
transformers
typeguard
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
wandb
wcwidth
webdataset
websockets
Werkzeug
wget
whisper_normalizer
wrapt
wsproto
xxhash
yarl
zope.event
zope.interface
apscheduler

